  body {
    font-family: 'Poppins', sans-serif;
    background-color: #68ba50;
  }

  .encabezado {
    background-color: #000000;
    padding: 15px 40px;
    border-bottom: 2px solid #6fccde;
    text-align: left;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    
    

  }

  .logo img {
    height: 260px;
    margin-bottom: 20px;
  }

  .titulo {
    display: inline-block;
    vertical-align:auto;
    margin-left: 150px;
    font-size: 40px;
    color: #ffffff;
  }


  .links {
    background-color: #8ed67c;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #80cb8f;
    font-size: 15px;
  }

  .links a {
    display: inline-block;
    text-decoration: none;
    color: #f1f3f3;
    margin: 0 20px;
    font-weight: bold;
  
  }

  .links a:hover {
    color: #f71313;
    border-bottom: 2px solid #12df2d;
  }

  .contenido {
    padding: 40px;
    text-align: center;
    vertical-align: middle;
  }

  .galeria {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 20px;
    
  }


  .item {
    width: 30%; 
    margin-bottom: 20px; 
    text-align: center;
    
  }

 
  .foto {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
    border: 4px solid #b2dfdb;
  
  }


  .texto {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: #000000;
  }

  .tablas{
      display: flex;
      justify-content: center;
      gap: 40px; 
      margin-bottom: 20px;
    }

    footer {
    background-color: #fdfdfd;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 100px;
    display: inline-block;
    
  }

  table {
    border-collapse: collapse;
    width: auto;
  }

  th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
  }

  th {
    background-color: #91f0df;
  }



  .contenedorcursos {

    display: flex; 
    border: 1px solid black; 
    gap: 50px; 
    justify-content: center;
    align-items: center; 
    padding: 20px;
  }

